@keyframes spinner-frames-x {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(-1 * var(--size) * var(--frames)) 0;
  }
}

.spinner8 {
  --frames: 8;

  width: var(--size);
  height: var(--size);

  background-image: url("/images/loading/spinner_sprite.svg");
  background-repeat: no-repeat;

  background-size: calc(var(--size) * var(--frames)) var(--size);

  animation: spinner-frames-x 0.8s steps(var(--frames)) infinite;
}

@keyframes success-fade-out {
  from {
    opacity: 1;
    /* transform: scale(1); */
  }
  to {
    opacity: 0;
    /* transform: scale(0.96); */
  }
}

.successFade {
  animation: success-fade-out 1.2s ease-out forwards;
}
