@import "tailwindcss";

:root {
}

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-25: #fdfdfd;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e9eaeb;
  --color-gray-300: #d5d7da;
  --color-gray-400: #a4a7ae;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #252b37;
  --color-gray-900: #181d27;

  --color-primary-25: #e7f8f2;
  --color-primary-50: #c5efe0;
  --color-primary-100: #97e2c8;
  --color-primary-200: #67d5ae;
  --color-primary-300: #39c896;
  --color-primary-400: #0ebc7f;
  --color-primary-500: #0ca06c;
  --color-primary-600: #0a855a;
  --color-primary-700: #086b48;
  --color-primary-800: #065339;
  --color-primary-900: #043f2a;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
}

@theme inline {
}

@layer theme {
  :root {
    --spacing: 1px;
  }
}

@layer base {
  .typo-48-semibold {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1.2px;
    font-weight: 600;
  }
  .typo-32-semibold {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.8px;
    font-weight: 600;
  }
  .typo-28-semibold {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.7px;
    font-weight: 600;
  }
  .typo-24-bold {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.6px;
    font-weight: 700;
  }
  .typo-20-bold {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.5px;
    font-weight: 700;
  }
  .typo-18-semibold {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.45px;
    font-weight: 600;
  }
  .typo-18-regular {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.45px;
    font-weight: 400;
  }
  .typo-16-semibold {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    font-weight: 600;
  }
  .typo-16-regular {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    font-weight: 400;
  }
  .typo-14-medium {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.35px;
    font-weight: 500;
  }
  .typo-14-regular {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.35px;
    font-weight: 400;
  }
  .typo-12-regular {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.3px;
    font-weight: 400;
  }

  input {
    &:focus {
      outline: none;
    }
  }
}

@layer components {
  /* button */
  .button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      cursor: default;
    }
  }
  /* size */
  .button--lg {
    width: 342px;
    height: 64px;
    border-radius: 16px;
  }
  .button--md {
    width: 310px;
    height: 48px;
    border-radius: 12px;
  }
  .button--sm {
    width: 151px;
    height: 48px;
    border-radius: 12px;
  }
  /* color */
  .button--primary {
    background-color: var(--color-primary-400);
    color: white;

    &:disabled {
      background-color: var(--color-primary-100);
    }

    &:active {
      background-color: var(--color-primary-600);
    }
  }
  .button--white {
    background-color: white;
    border: 1px solid;
    border-color: var(--color-gray-200);
    color: var(--color-gray-800);

    &:disabled {
      color: var(--color-gray-400);
    }

    &:active {
      background-color: var(--color-gray-300);
    }
  }
  .button--danger {
    background-color: var(--color-error-500);
    color: white;

    &:active {
      background-color: var(--color-error-700);
    }
  }
  .button--gray {
    background-color: white;
    color: var(--color-gray-800);

    &:active {
      background-color: var(--color-gray-300);
    }
  }

  /* input */
  .input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .input-label {
    color: var(--color-gray-800);
  }

  .input-container {
    border: 1px solid;
    border-color: var(--color-gray-300);
    background-color: white;
    border-radius: 16px;
    padding: 16px 24px;

    &:focus-within,
    &[data-focus="true"] {
      border-color: var(--color-primary-400);
    }
  }

  .input {
    color: var(--color-gray-800);

    &::placeholder {
      color: var(--color-gray-400);
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  .input-placeholder {
    color: var(--color-gray-400);
  }
}

body {
  font-family: var(--font-pretendard);
}
